
/* home section */

.welcome{
  margin-top: 20px;
  margin-bottom: 10px;
}
.start-btn{
  padding: 10px 20px;
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: transparent;
  transition: var(--main-transition)
}
.start-btn:hover {
  letter-spacing: 1px;
  color: #fff;
  border-color: var(--main-color);
  background-color: var(--main-color);
}
