.class-contaner {
  border-radius: 15px;
  background-color: rgb(244, 244, 244);
  padding: 20px;
}
.class-contaner .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px;
  width: 40px;
  background: #2196f3;
}
.class-contaner p {
  margin: 0px;
}
.class-contaner .course-code {
  color: gray;
}
.class-contaner .course-description {
  color: rgb(63, 61, 61);
  font-weight: 600;
}
.class-contaner .time {
  color: rgb(33, 33, 33);
  font-weight: normal;
}
