.nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 10px 2px #00000024;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.logo {
  width: 150px;
}

.logo img {
  padding: 2px;
  margin-left: 10px;
  height: 50px;
  width: 65px;
}

.user-info {
  width: 180px;
  float: right;
  display: flex;
  justify-content: space-evenly;
}
.user-info img {
  height: 40px;
  width: 40px;
}
.user-info p {
  font-size: large;
  font-weight: 400;
  margin: auto;
}

.logout-btn {
  padding: 5px 15px;
  color: #2196f3;
  border-color: #2196f3;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #2196f3;
  border-radius: 0.25rem;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transform-origin: left;
}
.logout-btn:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #2196f3d6;
  border: 1px solid #2196f3;
  transform: scaleX(1.1);
}
